/README.md
/bin
/dotnet
/maps
/node_modules
/plugins
/ragemp-server
/BugTrap-x64.dll
/database.sql
/LICENSE
/linux_x64.tar.gz
/MySQL-Accounts.zip
/ragemp-server.exe
/ragemp-server.exe.old.tmp
/packages/template/settings.json
/ragemp-server.exe - Shortcut.lnk
